################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/projet-demineur/v16
/.vs/projet-demineur
/.vs/Projet_Demineur/v16/Browse.VC.db
/.vs/Projet_Demineur/v16/Browse.VC.opendb
/.vs/Projet_Demineur
